.body {
  background-color: #d9d9d9;
  color: black;
}
.dark-mode {
  background-color: black;
  color: goldenrod;
}
.dark-mode #footer {
  color: gold;
  background-color: black;
  border-top: 2px solid gold;
}

#footer {
  background-color: black;
  color: white;
  height: 20vh;
  width: 100vw;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-footer {
  margin-right: 80px;
  width: 80px;
  margin-top: 30px;
  filter: grayscale();
}
.terms {
  margin-left: 80px;
  margin-top: 20px;
}
.copyright {
  text-align: center;
}

/*responsive*/

@media only screen and (max-width: 440px) {
  #footer {
    width: 100%;
  }
  .logo-footer {
    width: 40px;
    margin-right: 20px;
  }
  .terms h4 {
    font-size: 14px;
  }
  .terms p,
  .copyright {
    font-size: 10px;
  }
  .terms {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 441px) and (max-width: 1282px) {
  #footer {
    width: 100%;
  }
  .logo-footer {
    width: 40px;
  }
}

