#recommend-action {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  height: 10vh;
  width: 100vw;
  color: white;
}
#recommend-button {
  background-color: #35764f;
  color: white;
  width: fit-content;
  height: 30px;
  font-size: 20px;
  margin-top: 15px;
}
#recommend-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60vh;
  width: 100vw;
}
