#recommend-action {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  height: 10vh;
  width: 100vw;
  color: white;
}
#recommend-button {
  background-color: #35764f;
  color: white;
  width: fit-content;
  height: 30px;
  font-size: 20px;
  margin-top: 15px;
}
#recommend-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60vh;
  width: 100vw;
}
.body {
    background-color: #d9d9d9;
    color: black;
  }
  .dark-mode {
    background-color: black;
    color: goldenrod;
  }
  .dark-mode #form{
    background-color: black;
    color: gold;
  }
  .dark-mode #submit,.dark-mode #reset{
    background-color: gold;
    color: black;
  }
  #form {
    background-color: #d9d9d9;
    text-align: center;
    color: black;
  }
  .input {
    width: 500px;
    height: 50px;
    font-size: 16px;
    margin: 10px auto;
    padding-left: 10px;
  }
  #name {
    margin-top: 30px;
  }
  #submit {
    background-color: #1a3d71;
    color: white;
    width: 160px;
    height: 37px;
    margin: 20px;
  }
  #reset {
    background-color:#35764F ;
    color: white;
    width: 160px;
    height: 37px;
    margin: 20px;
  }

  #responsive-drop{
    display: none;
}
  /*responsive*/
  
  @media only screen and   (max-width:440px){
    
    .input{
      width: 70%;
      height: 30px;
      font-size: 12px;
    }
    #submit,#reset{
      width: 100px;
      height: 25px;
  
    }
    #display,#otherMovies{
      margin: 30px auto;
      text-align: center;
      width: 80%;
    }
   
  }
  

