.body{
    background-color:#D9D9D9;  
    color: black;
}
.dark-mode{
    background-color: black;
    color:goldenrod;
}
.welcome{
    margin: 30px auto;
    text-align: center;   
}
.welcome-img{
    border-radius: 60px;
    width: 530px;
    height: 350px;
}

/* responsive*/

.welcome-img{
    width:80%;
}
