.welcome {
  display: flex;
  text-align: center;
  height: 70vh;
  width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.welcome-img {
  border-radius: 60px;
  width: 530px;
  height: 350px;
}

/* responsive*/

.welcome-img {
  width: 80%;
}
