
.body {
  background-color: #d9d9d9;
  color: black;
}
.dark-mode {
  background-color: black;
  color: goldenrod;
}
.dark-mode #navbar-sort {
  color: gold;
}
.dark-mode #searchBar {
  background-color: gold;
  color: black;
}
.dark-mode #reset {
  background-color: gold;
  color: black;
}
.dark-mode .dropdown-menu1,
.dark-mode .dropdown-menu2,
.dark-mode .dropdown-menu3 {
  background-color: gold;
  color: black;
}
.dark-mode .drop-rate i {
  color: black;
}
.dark-mode #lista-filme {
  height: auto;
  border: 2px solid gold;
  border-radius: 10px;
  padding: 10px;
  list-style-type: none;
  font-size: 20px;
  cursor: pointer;
  margin: 20px;
  text-decoration: none;
  color: gold;
}
#navbar-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  height: 60px;
  color: white;
}
#sort {
  font-size: 22px;
  margin-top: 15px;
}
#searchBar {
  width: 100px;
  height: 15px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 13px;
}
.sort-dropdown {
  position: relative;
  font-size: 22px;
  margin-left: 80px;
  margin-top: 15px;
  cursor: pointer;
}
.dropdown-menu1,
.dropdown-menu2,
.dropdown-menu3 {
  list-style-type: none;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px;
  width: 170px;
  font-size: 24px;
  margin-right: 50px;
}
.dropdown {
  visibility: visible;
}
.drop-category:hover {
  color: #35764f;
}
.drop-year:hover {
  color: #35764f;
}
.drop-rate i {
  font-size: 20px;
  color: yellow;
}
#film-img {
  width: fit-content;
}
#list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 170px auto;
}
#lista-filme {
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  list-style-type: none;
  font-size: 20px;
  cursor: pointer;
  margin: 20px;
  text-decoration: none;
  color: black;
}
#display-filme {
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}
.main-img {
  width: 230px;
  height: 170px;
  margin: 10px auto;
}


.display-img {
  width: 500px;
  height: auto;
  margin: 20px auto;
}
#h4 {
  color: #35764f;
}
#star,
#halfStar {
  color: yellow;
  padding-left: 5px;
  font-size: 20px;
}
#emptyStar {
  padding-left: 5px;
  font-size: 20px;
}


.display-img{
    width: 500px;
    height: auto;
    margin: 20px auto;
}
#h4{
    color:#35764F ;
}
#star,#halfStar{
    color: yellow;
    padding-left: 5px;
    font-size: 20px;
}
#emptyStar{
    padding-left: 5px;
    font-size: 20px;
}
  
#error{
    text-align: center;
    font-size: 20px;
    color: orangered;
    margin-top: 30px;
}
#reset{
    background-color: #35764F;
    color: white;
    width: 120px;
    height: 30px;
    font-size: 20px;
    margin-top: 15px;
}
#responsive-drop{
    display: none;
}

/*responsive*/

@media only screen and   (max-width:440px){
   
    #sort{
        font-size: 14px;
    }
    #searchBar{
        width: 65px;
        height: 20px;
        font-size: 11px;
        margin: 13px;
    }
    #reset{
        width: 60px;
        font-size: 14px;
        min-height: 50px;
        margin-left: 10px;
        margin-top: 7px;
    }
    .sort-dropdown{
        font-size: 14px;
        margin-left: 20px;
    }
    .dropdown-menu1,.dropdown-menu2,.dropdown-menu3{
        width: 60px;
        font-size: 14px;
    }
    .drop-rate i{
        font-size: 8px;
    }
    #list{
        margin-top: 90px;
    }
    #lista-filme{
        width: 80%;
        text-align: center;
    }
}

@media  only screen  and (min-width:441px) and (max-width:900px){
    #sort{
        font-size: 16px;
    }
    #searchBar{
        width: 85px;
        height: 20px;
        font-size: 13px;
        margin: 13px;
    }
    #reset{
        width: 80px;
        font-size: 14px;
        min-height: 50px;
        margin-left: 10px;
        margin-top: 7px;
    }
    .sort-dropdown{
        font-size: 16px;
        margin-left: 20px;
    }
    .dropdown-menu1,.dropdown-menu2,.dropdown-menu3{
        width: 60px;
        font-size: 14px;
    }
    .drop-rate i{
        font-size: 8px;
    }
    #list{
        margin-top: 90px;
    }
    #lista-filme{
        width: 30%;
        text-align: center;
    }
    .main-img{
        width: 80%;
        height: auto;
    }
}


